/* Sivun CSS-OKSENNUS*/

/*Sivun pohjaväri, eli se tummansininen */
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*Button pohja, tämän päälle rakennetaan käytännössä kaikki buttonit. Pieniä hienouksia ja pointer hiiri.*/
.AddButton {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 0;
  font-weight: bold;
  color: white;
  background-color: rgb(6, 146, 211);
  font-size: 22px;
  cursor: pointer;
}
/* Hoveratessa napin päällä lisätään vähä lisävarjostuksia*/
.AddButton:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  box-shadow: 3px 3px 14px 1px rgba(0, 0, 0, 0.24);
}

/* Nappia painettaessa pienennetään sitä hiukan ja muutetaan vähän varjotuksia.*/
.AddButton:active,
input[type="submit"]:active,
input[type="button"]:active {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Poistamisen perumisnäppäin, vähän pienempi kun perus*/
#canC {
  font-size: 18px;
  margin: 14px 0;
  padding: 10px 18px;
}

/* Poistamisen näppäin vähän isompi ja kaikkea.*/
#edDel {
  margin: 0;
  border-radius: 20px;
  margin-left: 10px;
  padding: 8px 10px;
  font-size: 12px;
}

/*Modalin tummennettu tausta, tällä estetään myös modalin ulkopuolelle klikkailu */
div.form {
  display: block;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
/*Poistamisesa käytettävien nappuloiden pikkunen oma divi, tätä käyttäen nappulat on siisti vähän erossa toisistaan.*/
div.delButtons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

/* Poistamisen modali, 10% yläreunasta ja keskitetty, 33% leveys, näyttää ihan nätiltä. Vähän reunoja ja varjoja. */
div.delete {
  margin: 150px auto;
  background-color: #eeeeee;
  width: 50%;
  max-width: 768px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Label tekstimuokkauksia*/
label {
  font-size: large;
  font-weight: 500;
}

/*Box divii, tämä on sivuston ns. pohja, eli se valkoinen mötikkä keskitettynä sivulla.*/
.Box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 90vh;
  min-width: 968px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Formien modali, käytännössä sama kuin deleten modal, mutta form haluaa sen tälleen*/
form {
  margin: 150px auto;
  background-color: #eeeeee;
  width: 50%;
  max-width: 768px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Pohjat eri formin inputeille. Textinputit menee suoraan tällä pohjalla.*/
input {
  width: 45%;
  padding: 12px 20px;
  margin: 8px auto;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/*Iän valintaan käytetään tätä, eli vähän ohkasempi ja keskitetty teksti.*/
input[type="number"] {
  width: 12%;
  text-align: center;
}
/*Submit nappi, sopivan leveä, kirkkaan vihreä.*/
input[type="submit"] {
  width: 30%;
  border: 0;
  font-size: large;
  color: white;
  font-weight: bold;
  background-color: #4caf50;
  cursor: pointer;
}

/*Perumisnappi, mukavan pieni, pirteän sininen.*/
input[type="button"] {
  width: 20%;
  border: 0;
  font-weight: bold;
  color: white;
  background-color: rgb(6, 146, 211);
  cursor: pointer;
}

/*Laitetaan display blockit formiin, jotta saadaan kaikki nätisti omille riveilleen.*/
form label input {
  display: block;
}

/*Luodaan pohja ite tablelle, valkoinen tausta, vähä varjoja reunoille ja reunustukset */
.TableBox {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

/*Itse table, pikku ylämarginit, ettei olla kiinni uuden lisäämisnapissa.*/
table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

/*Riveille pikku pädäykset, teksti vasemmalle ja alareunaan hieno moderni viiva.*/
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/*Tehdään headereista klikattavia, poistetaan kaikki buttonin css, jotta ne on ihan pelkkä tekstiä. Tehdään kuitenkin kursorista pointteri, jotta jengi älyää klikkaa.*/
.tableButtons {
  all: unset;
  cursor: pointer;
  width: 100%;
}

/*Kun hoverataan rivillä, tai headerin näppäimillä, sekä on klikattu jotain headeria, vaihdetaan niitten taustaväri vaaleanharmaaksi.*/
#col:hover,
.tableButtons:focus,
.tableButtons:hover {
  background-color: lightgray;
}
