.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 90vh;
  min-width: 968px;
}

form {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
}
input[type="number"] {
  width: 50%;
}
input[type="submit"] {
  border: 0;
  background-color: rgb(43, 201, 43);
}
form label input {
  display: block;
}
